body {
  background: #b4eeca;
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  color: rgb(101, 1, 88);
  font: 32px Garamond, Helvetica, serif;
}

table {
  width: 50%;
}

thead {
  text-align: left;
}

label {
  display: block;
}

#submit-btn {
  display: block;
}